<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href='/sign-up'>Sign Up</a>
      <a href='log-in'>Log in</a>
    </header>
    <h1><%= title %></h1>
    <form action='' method='POST'>
        <label for='username'>Username:</label>
        <input name='username' type='text' placeholder="username" />
        <label for='first_name'>First Name:</label>
        <input name='first_name' type='text' placeholder="First Name" />
        <label for='last_name'>Last Name:</label>
        <input name='last_name' type='text' placeholder="Last Name" />
        <label for='password'>Password:</label>
        <input name='password' type='password' placeholder="password">
        <label for='confirm-password'>Confirm password:</label>
        <input name='confirm-password' type='password' placeholder="password"/>
        <input type='submit'>
    </form>
    <div>
    <% if(typeof errors !== 'undefined') {%>
        <% for(let i = 0; i < errors.length; i++) { %>
            <p><%= errors[i].msg %></p>
        <% } %>
    <% } %>
    </div>
  </body>
</html>
